DB_HOST=localhost
DB_PORT=3306
DB_USER=qqqqqq
DB_PASSWORD=qqqqqq
DB_NAME=qqqqqqq

JWT_SECRET=运行npm run gen:secret
JWT_EXPIRES_IN=24h

SERVER_PORT=3000
SERVER_HOST=0.0.0.0

ONEBOT_URL=ws://127.0.0.1:3001
ONEBOT_TOKEN=
